body {
  background: url(http://www.inggez.com/img/bg-pattern.png),
    linear-gradient(to left, #00a88f, #0d2042);
  text-align: center;
}

#todocontainer {
  align-items: center;
}
form {
  display: inline-block;
}
ul {
  display: inline-block;
}
todo-container {
  width: 100%;
}
input[type="button"],
input[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
input[type="text"] {
  border: 2px solid #00a88f;
  border-radius: 4px;
}
input[type="text"]:focus {
  background-color: lightblue;
}
